h3/
h3-py-notebooks/
deck_maps/
outputs/
.Rproj.user
*.Rproj
.Rhistory
.DS_Store
build/
dist/
data/*.tif
sql/
pre_pub.sh
.vscode/
.coverage
source/
src/scalenav/__pycache__/
src/scalenav/model/__pycache__/
test_memray/
tests.ipynb
tests/__pycache__/